@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*---------------------------------------------------------- Colors */

header {
    background-color: #fff;
}

body {
    background-color: #f0eff2;
}

footer {
    background-color: #1f0e55;
}


/*---------------------------------------------------------- Hover FX */

.hooverfx:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #5500ff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.hooverfx:hover:after {
    width: 100%;
    left: 0;
}


/*---------------------------------------------------------- Special paddings, margins and text */

body {
    font-family: 'Rajdhani', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}


/*---------------------------------------------------------- Navigation header */

header {
    margin: 0;
}

.navbar {
    margin: 0;
    padding: 0;
}

.dbm-logo {
    margin: 0;
    padding: 0;
    height: 52px;
    width: 199px;
}

.navbar-brand {
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.navbar-nav {
    margin-left: auto;
}

.navitem {
    display: inline;
    text-align: center;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
    padding-left: 3rem;
    color: #1f0e55;
}

.navbar-expand-sm {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    margin-right: 15px;
}


/*---------------------------------------------------------- Content Pages Layout */

.section-row1 {
    height: 55vh;
    overflow-y: scroll;
}

.section-row2 {
    height: 30vh;
    overflow-y: scroll;
}

.section-row1-col1 {
    display: block;
    min-height: 360px;
}

.section-row1-col2 {
    display: inline-block;
    background-color: #f0eff2;
    padding: 20px 25px 20px 25px;
}

.section-row2-col1 {
    display: block;
    background-color: #b5e3d7;
}

.section-row2-col2 {
    display: block;
    background-color: #fff;
}

.row2-col2-headings {
    text-shadow: 1px 1px #baabef;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 35px;
}


/*---------------------------------------------------------- index.html Section */

.heroimg-container {
    position: relative;
    background: url("../images/hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 132px);
    max-height: 65vh;
    overflow: visible;
}

.section-heading {
    margin: 0;
    padding: 0 0 15px 0;
    color: #2f2736;
    font-weight: 400;
    text-align: center;
}

.section-icons {
    display: block;
    margin: auto;
    padding: 55px 0px 20px 0px;
    text-align: center;
}

.section-text {
    padding-bottom: 3px;
    color: rgba(31, 14, 85, 0.6);
    text-align: center;
    font-weight: 500;
}

#index-section2 {
    padding-bottom: 55px;
}


/*---------------------------------------------------------- pw-history.html Section */

#pw-photo {
    position: relative;
    background: url("../images/peter-walker.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.section-row1-col2 h5 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.section-row1-col2 h6 {
    padding-bottom: 15px;
    text-align: center;
}

.achievements-text {
    float: left;
    margin-bottom: 30px;
    -webkit-box-shadow: 6px 3px 7px -2px rgba(31, 14, 85, 0.5);
    -moz-box-shadow: 6px 3px 7px -2px rgba(31, 14, 85, 0.5);
    box-shadow: 6px 3px 7px -2px rgba(31, 14, 85, 0.5);
}

.card {
    border: 0;
}

.card-header {
    background-color: #b5e3d7;
    text-align: center;
}

.card-header .btn {
    color: rgb(0, 71, 52);
    font-size: 20px;
    font-weight: 500;
}

.card-header .btn:hover {
    text-decoration: none;
    color: #967ce9;
}

.card-body {
    background-color: rgba(181, 227, 215, 0.7);
    text-align: center;
    color: rgb(0, 71, 52);
}

#accordion {
    padding-top: 15px;
    padding-bottom: 15px;
}


/*---------------------------------------------------------- media.html Section */

.thumbnails img {
    height: 60px;
    border: 1px solid #2f2736;
    padding: 1px;
    margin: 0 1px 1px 0;
}

.thumbnails img:hover {
    border: 2px solid #967ce9;
    cursor: pointer;
}

.gallery>h3 {
    padding-top: 20px;
}

.preview {
    height: 65vh;
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow: hidden;
}


/*---------------------------------------------------------- cri-history.html Section */

#criarte-photo {
    position: relative;
    background: url("../images/criarte-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.row2-col2-images {
    display: inline-block;
    margin-bottom: 20px;
}


/*---------------------------------------------------------- courses.html Section */

#course-photo {
    position: relative;
    background: url("../images/dbm-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.embed-responsive {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


/*---------------------------------------------------------- events.html Section */

#events-photo {
    position: relative;
    background: url("../images/events-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#events-section {
    margin-top: 25px;
}

.events-card {
    border: 1px solid rgba(0, 0, 0, .125)!important;
    margin-bottom: 35px!important;
}

.table-text-style {
    font-weight: 600;
}


/*---------------------------------------------------------- Footer */

footer {
    padding-top: 20px;
    padding-bottom: 35px;
}

.footer-icon {
    display: inline;
    color: #f0eff2;
    text-align: center;
    background-color: #1f0e55;
    padding: 5px 5px 5px 5px;
    border: 1px solid #f0eff2;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    width: 28px;
    height: 28px;
    font-size: 14px;
}

.footer-icon:hover {
    color: #b5e3d7;
}

.signup-button {
    border: none;
    padding: 0;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.signup-button:hover {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

footer h4 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    margin-left: 0;
    margin-right: 0;
    font-size: 17px;
    color: #f0eff2;
    margin-bottom: 5px;
}


/*---------------------------------------------------------- Media queries */

@media (max-width: 767px) {
    .section-row1 {
        height: 100vh;
    }
    #section-row1-embed {
        margin-bottom: 260px;
    }
    .section-row1 {
        height: auto;
        overflow-y: unset;
    }
    .section-row1-col1 {
        height: 60vh;
    }
    .section-row2 {
        height: auto;
        overflow-y: unset;
    }
    .thumbnails img {
        height: 50px;
    }
    .embed-responsive {
        height: 300px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .preview {
        width: auto;
    }
}

@media (max-width: 491px) {
    .navbar-brand {
        padding: 10px 2px 10px 5px;
    }
}