@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*---------------------------------------------------------- Colors */

header {
    background-color: #fff;
}

body {
    background-color: #baabef;
}

footer {
    background-color: #1f0e55;
}


/*---------------------------------------------------------- Hover FX */

.hooverfx:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #5500ff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.hooverfx:hover:after {
    width: 100%;
    left: 0;
}


/*---------------------------------------------------------- Special paddings, margins and text */

body {
    font-family: 'Rajdhani', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}


/*---------------------------------------------------------- Navigation header */

header {
    margin: 0;
}

.navbar {
    margin: 0;
    padding: 0;
}

.dbm-logo {
    margin: 0;
    padding: 0;
    height: 52px;
    width: 199px;
}

.navbar-brand {
    padding: 1em 1.5em 1em 1.5em;
}

.navbar-nav {
    margin-left: auto;
}

.navitem {
    display: inline;
    text-align: center;
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
    padding-left: 3rem;
    color: #1f0e55;
}

.navbar-expand-sm {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.formbutton {
    border: 0;
    margin: 0;
}

.btn-outline-info {
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    color: #2f2736;
    border-color: #967ce9;
}

.btn-outline-info:hover {
    background-color: #44d799;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    padding-right: 3px;
}


/*---------------------------------------------------------- Index Section */

.container-fluid-style {}

.heroimg-container {
    background: url("./assets/images/hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 60vh;
    min-height: 360px;
    overflow: hidden;
}


/* .heroimg {
    overflow: hidden;
    max-height: 50vh;
} */


/*---------------------------------------------------------- Footer */

footer {
    padding-bottom: 15px;
}

.footernav {
    height: auto;
}

.footer-icon,
.footer-signup-icon {
    display: inline;
    color: #f0eff2;
    text-align: center;
    background-color: #1f0e55;
    padding: 5px 5px 5px 5px;
    border: 1px solid #f0eff2;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    width: 28px;
    height: 28px;
    font-size: 14px;
}

.footer-icon:hover {
    color: #7693a9;
}

.footer-signup-icon:hover {
    font-size: 14px;
    width: 28px;
    height: 28px;
    color: #7693a9;
}

.signup-button {
    border: none;
    padding: 0;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.signup-button:hover {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

footer h4 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 27px;
    margin-left: 0;
    margin-right: 0;
    font-size: 17px;
    color: #f0eff2;
    margin-bottom: 5px;
}


/*---------------------------------------------------------- Media queries */

@media (max-width: 491px) {
    .navbar-brand {
        padding: 10px 2px 10px 5px;
    }
}

footer h4 {
    padding-top: 5px;
}