@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*---------------------------------------------------------- Colors */

header {
    background-color: #fec8d8;
}

body {
    background-color: #ffdfd3;
}


/*---------------------------------------------------------- Hover FX */

.hooverfx:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #5500ff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.hooverfx:hover:after {
    width: 100%;
    left: 0;
}


/*---------------------------------------------------------- Special paddings, margins and text */

body {
    font-family: 'Rajdhani', sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}


/*---------------------------------------------------------- Navigation Header */

header {
    margin: 0;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    padding: 1em 1.5em 1em 1.5em;
}

.brandtext {
    text-align: right;
    color: #5500ff;
}

.navitem {
    display: inline;
    text-align: center;
    position: relative;
    font-size: 1.5em;
    font-weight: 400;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
    padding-left: 3rem;
    color: #2f2736;
}

.navbar-expand-sm {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #2f2736;
}

.btn-outline-info {
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    color: #000;
    border-color: #5500ff;
}